@import url('https://fonts.googleapis.com/css2?family=Jockey+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

html {
  font-size: 100%;
  height: 100%;
  margin:0;
  padding: 0;
}
body,#root{
  margin:0;
  padding: 0;
  height: 100%;
}
header,footer{
  background: #F5F5F5;
}
header{
  border-bottom: #FFFFFF 2px solid;
}
.DescubNavbar,.DescubIcon,.badge-title,.activity-title{
  font-family: 'Jockey One', sans-serif;
}
.DescubNavbar{
  font-family: 'Rubik';
}
.DescubIcon{
  display: flex;
  justify-content: center;
  align-items: center;
}
.DescubImg{
  width:15rem;
  height:4rem;
}.dropdown-toggle{
  color: #CB2C2A;
}
.dropdown-toggle:hover,.dropdown-toggle:active{
  color: #DC5856;
}
.DescubIcon:link,.DescubIcon:visited,.DescubIcon:active,.DescubIcon:hover{
  text-decoration:none;
}
.DescubLinks{
  text-decoration:none;
  color: #2F2F2F;
  font-size: 1.7em;
}
.DescubLinks:hover{
  color: #8F8F8F;
}
.text-footer{
  color: #2F2F2F;
  font-family: 'Rubik';
}
.text-footer:hover{
  color: #8F8F8F;
}
.DescubProfile{
  background: #EBEBEB;
}
.socialnetwork-list{
  list-style: none;
}
.socialnetwork-info,.linksfooter{
  margin: 20px 0px 20px 0px;
  font-family: 'Open Sans';
}
.linksfooter{
  font-family: 'Jockey One';
  color: #CB2C2A;
}
.socialnetwork-info>a:link,.socialnetwork-info>a:visited,.socialnetwork-info>a:active,
.linkfooter>a:link,.linkfooter>a:visited,.linkfooter>a:active{
  text-decoration:none;
}
.linksheadfooter{
  font-weight: bold;
  font-family: 'Jockey One';
}
.badge-title,.activity-title{
  font-size: 2.4em;
  color: #F5F5F5;
}
.badge-header{
  background: #CB2C2A;
}
.card-header{
  background-color: none;
}
.activity-title{
  color: #297373;
}
.profile-seudonimo{
  font-size: 2.7em;
  font-weight: bold;
}
h2,.ProfileStatistics,.activity-card-tittle{
  font-family: 'Rubik';
}
.statistics-text{
  font-size:  3em;
  line-height : 1;
}
.statistics-d{
  font-size: 96px;
}
.ProfileInfo{
  background: #F5F5F5;
}
.DescubActivity{
  background: #FFFFFF;
}
.activity-card-link{
  text-decoration: none;
}
.DescubCopy{
  background: #98211F;
}
.icon-scnw{
  font-size: 1.8em;
  position: relative;
  margin-right: 0.4em;
}
.socialnetwork-info>a{
  color: black;
}
.socialnetwork-info-email>a:hover{
  color: #ea4335;
}
.socialnetwork-info-ig>a:hover{
  color: #d6249f;
}
.socialnetwork-info-fb>a:hover,.icon-scnw-fb:hover{
  color: #1877f2;
}
.map-leaflet{
  height: 100%;
}
.DescubMap{
  position: relative;
  height: 88.37vh;
}
.div-infoMap{
  position: absolute;
  width: auto;
  z-index:  1000;
}
.infoMap-head{
  border: #FFFFFF 1px solid;
  background: rgba(255, 255, 255, 0.7);
}
.infoMap-head:focus:active,.infoMap-head:hover{
  border: #FFFFFF 1px solid;
  background: rgba(255, 255, 255, 1);
}
.infoMap{
  border: #FFFFFF 1px solid;
  background: rgba(203, 44, 42, 0.8);
}
.infoMap:focus:active,.infoMap:hover{
  background: rgba(203, 44, 42, 1);
  border: #FFFFFF 1px solid;
}
.card-infoMap{
  background-color: transparent;
  border: transparent;
}
.descublogin,.descubregister{
  background: #F5F5F5;
  margin: 0;
  padding: 0;
  min-height: 100%;
}
.DescubImgLogin,.DescubImgRegister{
  width: 10rem;;
  height: 3.5rem;
}
.descub-form-login,.descub-form-register{
  width: 50%;
}
.descub-label-form{
  font-family: 'Rubik';
  font-size: 1.1em;
}
.descub-input-form{
  background: rgba(111, 111, 111, .2);
  border-radius: 20px;
  font-family: 'Rubik';
}
.descub-input-form:focus{
  box-shadow: none;
  border-color: #98211F;
}
.descub-submit-form{
  background: #CB2C2A;
  border-radius: 25px;
  border-color: transparent;
  font-family: 'Rubik';
}
.descub-submit-form:hover,.descub-submit-form:focus:active{
  box-shadow: none;
  background: #98211F;
  border-color: transparent;
}
.text-login,.text-register{
  font-size: 2.5em;
  font-family: 'Rubik';
}
.PaintImgLogin,.PaintImgRegister,.PaintImgCero{
  width: 80%;
  height: 100%;
  filter: grayscale(0%) drop-shadow(0 8px 8px rgba(0, 0, 0, 0.5));
  animation: moveImage 2.5s infinite alternate;
}
.cero_picture{
  background: #FFFFFF;
}
@keyframes moveImage {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(5%);
  }
}
.div-home-1{
  background:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)), url(assets/home-bg.svg);
  background-size: cover;
  border-radius: 30px;
  background-repeat: no-repeat;
  background-position: center;
  height: 480px;
}

.title-div-home-1{
  font-family: 'Rubik','Open Sans';
  font-size: 3.4em;
  color: #F5F5F5;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.btn-home-1{
  background: #FE990B;
  border-color: #FE990B;
  font-size: 1.4em;
  color: #FFFFFF;
  font-family: 'Open Sans';
}
.btn-home-1:hover,.btn-home-1:active,.btn-home-1:focus{
  background: #ffcd39;
  border-color: #ffcd39;
  color: #FFFFFF;
}
.div-home-2{
  border-radius: 30px;
}
.div-home-2:hover{
  outline: solid;
  outline-color: #000000;
}
.icon-home{
  font-size: 5em;
  color: #2F2F2F;
}
.card-home-end,.card-home-center,.card-home-start{
  border-radius: 30px;
  height: 210px;
}
.card-home-end{
  background: #1C7C54;
}
.card-home-center{
  background: #CB2C2A;
}
.card-home-start{
  background: #FEA82F;
}
.text-home-2{
  font-size: 1em;
  font-family: 'Open Sans','Calibri';
}
.estadisticas_picture{
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2)),#CB2C2A;
}
.title-div-estadistica{
  font-family: 'Rubik','Open Sans';
  font-size: 3.4em;
  color: #F5F5F5;
  font-weight: bold;
}
.subtitle-div-estadistica{
  font-family: 'Open Sans';
  font-size: 1.7em;
  color: #F5F5F5;
}
.estadisticas_info{
  background: #FFFFFF;
}
.graph{
  width: 70%;
  height: 300px;
}
.title-estadisticas{
  font-family: 'Rubik';
  font-size: 1.7em;
  color: #1C7C54;
  font-weight: 800;
}
.color-div{
  position: relative;
  border-radius: 20px;
}
.color-div:hover::after {
  content: attr(data-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000000;
  font-weight: bold;
  font-size: 18px;
}
.title-div-mural{
  font-family: 'Rubik','Open Sans';
  font-weight: 600;
}
.text-div-mural,.mural-li{
  font-family: 'Open Sans';
  font-size: 1em;
}
.mural-li-ubi,.mural-li-muralista,.mural-li-fecha{
  text-decoration: none;
  font-weight: 700;
}
.mural-li-muralista{
  color: #FEA82F;
}
.mural-li-muralista:hover{
  color: #FEC371;
}