@import url('https://fonts.googleapis.com/css2?family=Jockey+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

html {
  font-size: 100%;
}

header,footer{
  background: #CB2C2A;
}
.DescubNavbar,.DescubIcon,.badge-title,.activity-title{
  font-family: 'Jockey One', sans-serif;
}
.DescubIcon{
  display: flex;
  justify-content: center;
  align-items: center;
}
.DescubImg{
  width:15rem;
  height:4rem;
}
.DescubIcon:link,.DescubIcon:visited,.DescubIcon:active,.DescubIcon:hover{
  text-decoration:none;
}
.DescubLinks{
  text-decoration:none;
  color: #FFFFFF;
  font-size: 2em;
}
.DescubLinks:hover{
  color: #B8B8B8;
}
.DescubProfile{
  background: #EBEBEB;
}
.socialnetwork-list{
  list-style: none;
}
.socialnetwork-info,.linksfooter{
  margin: 20px 0px 20px 0px;
  font-family: 'Open Sans';
}
.linksfooter{
  font-family: 'Jockey One';
}
.socialnetwork-info>a:link,.socialnetwork-info>a:visited,.socialnetwork-info>a:active,
.linkfooter>a:link,.linkfooter>a:visited,.linkfooter>a:active{
  text-decoration:none;
}
.linksheadfooter{
  font-weight: bold;
  font-family: 'Jockey One';
}
.badge-title,.activity-title{
  font-size: 2.4em;
  color: #297373;
}
.card-header{
  background-color: none;
}
.activity-title{
  color: #297373;
}
.profile-seudonimo{
  font-size: 2.7em;
  font-weight: bold;
}
h2,.ProfileStatistics,.activity-card-tittle{
  font-family: 'Rubik';
}
.statistics-text{
  font-size:  3em;
  line-height : 1;
}
.statistics-d{
  font-size: 96px;
}
.ProfileInfo{
  background: #F5F5F5;
}
.DescubActivity{
  background: #FFFFFF;
}
.activity-card-link{
  text-decoration: none;
}
.DescubCopy{
  background: #98211F;
}
.icon-scnw{
  font-size: 1.8em;
  position: relative;
  margin-right: 0.4em;
}
.socialnetwork-info>a{
  color: black;
}
.socialnetwork-info-email>a:hover{
  color: #ea4335;
}
.socialnetwork-info-ig>a:hover{
  color: #d6249f;
}
.socialnetwork-info-fb>a:hover,.icon-scnw-fb:hover{
  color: #1877f2;
}

